<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.app.step.project.system.mapper.SysRoleMapper">

    <resultMap id="SysRole" type="run.app.step.project.system.entity.SysRole">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
        <result property="roleSort" column="role_sort"/>
        <result property="dataScope" column="data_scope"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="updateBy" column="update_by"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_name, role_key, role_sort, data_scope, status,
        del_flag, create_by, gmt_create, update_by, gmt_modified, remark
    </sql>

    <!--TODO 最多关联3张表 这里还有学院信息  待定-->
    <sql id="selectRoleVo">
        select distinct r.id, r.role_name, r.role_key, r.role_sort, r.data_scope,
            r.status, r.del_flag, r.gmt_create, r.remark
        from sys_role as r
            left join sys_user_role as ur on ur.role_id = r.id
            left join sys_user as u on u.id = ur.user_id
    </sql>

    <!--批量删除角色信息 逻辑删除-->
    <delete id="deleteRoleByIds">
        update sys_role set del_flag = 0 where id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <!--校验角色名称是否唯一-->
    <select id="checkRoleNameUnique" resultMap="SysRole">
        select <include refid="Base_Column_List"></include>
        from sys_role
        where role_name = #{roleName}
    </select>

    <!--校验角色权限是否唯一-->
    <select id="checkRoleKeyUnique" resultMap="SysRole">
        select <include refid="Base_Column_List"></include>
        from sys_role
        where role_key = #{roleKey}
    </select>

    <!--根据用户ID查询权限-->
    <select id="selectRolePermissionByUserId" resultMap="SysRole">
        <include refid="selectRoleVo"></include>
        where r.del_flag = 1 and ur.user_id = #{userId}
    </select>

    <!--查询所有角色-->
    <select id="selectRoleAll" resultMap="SysRole">
        <include refid="selectRoleVo"></include>
        where r.del_flag = 1
        order by r.role_sort
    </select>

    <!--根据id查询用户角色-->
    <select id="selectRoleListByUserId" resultType="java.lang.Integer">
        select  r.id
        from sys_role as r
            left join sys_user_role as ur on ur.role_id = r.id
            left join sys_user as u on u.id = ur.user_id
        where u.id = #{id}
    </select>

    <!--根据条件分页查询角色数据-->
    <select id="selectRoleList" resultMap="SysRole">
        <include refid="selectRoleVo"></include>
        where r.del_flag = 1
        <if test="roleName != null and roleName != ''">
            and r.role_name like concat('%', #{roleName}, '%')
        </if>
        <if test="status != null and status != ''">
            and r.status = #{status}
        </if>
        <if test="roleKey != null and roleKey != ''">
            and r.role_key like concat('%', #{roleKey}, '%')
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            and date_format(r.gmt_create,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            and date_format(r.gmt_create,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by r.role_sort
    </select>

    <!--根据id查询角色信息-->
    <select id="selectRoleById" resultMap="SysRole">
        select <include refid="Base_Column_List"></include>
        from sys_role
        where id = #{id}
    </select>



</mapper>
